---
---

<div class="container form-container flex-center flex-col">
  <input
    type="file"
    name=""
    id="files"
    max="3"
    multiple
    class="file-upload-input"
  />
  <ol class="files-container"></ol>
</div>

<script type="text/javascript" defer>
  let fileList = [];
  try {
    fileList = JSON.parse(sessionStorage.getItem("fileList")) || [];
  } catch {}
  const filesContainerElement = document.querySelector(".files-container");
  const fileUploadInputElement = document.querySelector(".file-upload-input");

  if (fileList) {
    fileList.forEach((file) => {
      addFileElement(file);
    });
  }

  window.addEventListener("DOMContentLoaded", () => {
    enableButton();
  });
  function enableButton() {
    // @ts-ignore
    const btn = document.getElementById("submit-btn");
    if (fileList.length > 0) {
      if (btn) {
        btn.removeAttribute("disabled");
      }
    } else {
      btn.setAttribute("disabled", "true");
    }
  }

  fileUploadInputElement.addEventListener("change", async (e) => {
    const MAX_FILE_SIZE = 524288000; // 500 MB
    for (let i = 0; i < e.target.files.length; i++) {
      const files = e.target.files;

      for (let file of files) {
        if (files[i].size > MAX_FILE_SIZE) {
          alert("File Size is too large");
          fileUploadInputElement.value = "";
          return;
        }

        let url = URL.createObjectURL(file);
        fileList.push({
          name: file.name,
          url: url,
        });
        addFileElement({
          name: file.name,
          url: url,
        });
        await uploadFile(file, url);
        sessionStorage.setItem("fileList", JSON.stringify(fileList));

        if (fileList.length === 4) {
          alert("Reached File Limit");
          fileUploadInputElement.setAttribute("disabled", "true");
          fileUploadInputElement.style.display = "none";
          return;
        } else {
          setTimeout(() => {
            fileUploadInputElement.value = "";
          }, 200);
        }
      }
      enableButton();
    }
  });

  function addFileElement(file) {
    let fileContainer = document.createElement("article");
    fileContainer.classList.add("loading-file");
    fileContainer.id = file.url;
    fileContainer.innerHTML = `
      <span class="progress-container">
        <progress value="0" max="100"></progress>
        <span>
          <svg
            class="svg-md"
            width="100%"
            height="100%"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            onclick="removeFile('${file.url}')"
          id="${file.url}"
          >
            <path
              d="M18.5356 18.5061L11.4645 11.435"
              stroke="white"
              stroke-linecap="round"></path>
            <path
              d="M11.4644 18.5061L18.5355 11.435"
              stroke="white"
              stroke-linecap="round"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.92893 22.0416C11.8342 25.9468 18.1658 25.9468 22.0711 22.0416C25.9763 18.1363 25.9763 11.8047 22.0711 7.89944C18.1658 3.99419 11.8342 3.99419 7.92893 7.89944C4.02369 11.8047 4.02369 18.1363 7.92893 22.0416Z"
              stroke="white"></path>
          </svg>
        </span>
      </span>

      <span>
        
      </span>
      <p class="file-name">${file.name}</p>
      <span>
        <svg
          class="svg-md"
          width="100%"
          height="100%"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          onclick="removeFile('${file.url}')"
          id="${file.url}"
          class="border-dev"
        >
          <path
            d="M18.5356 18.5061L11.4645 11.435"
            stroke="white"
            stroke-linecap="round"></path>
          <path
            d="M11.4644 18.5061L18.5355 11.435"
            stroke="white"
            stroke-linecap="round"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.92893 22.0416C11.8342 25.9468 18.1658 25.9468 22.0711 22.0416C25.9763 18.1363 25.9763 11.8047 22.0711 7.89944C18.1658 3.99419 11.8342 3.99419 7.92893 7.89944C4.02369 11.8047 4.02369 18.1363 7.92893 22.0416Z"
            stroke="white"></path>
        </svg>
      </span>
      `;
    filesContainerElement.appendChild(fileContainer);
  }

  async function removeFile(url) {
    console.log(url);
    let fileElement = document.getElementById(url);
    let fileName;
    fileList.forEach((file, index) => {
      if (file.url === url) {
        fileName = file.name;
        fileList.splice(index, 1);
      }
    });
    let hostId = localStorage.getItem("hostId");

    if (typeof hostId !== "string" || hostId instanceof String) {
      return;
    }

    if (!hostId) return sessionStorage.setItem("fileList", JSON.stringify([]));
    const res = await fetch(`/api/remove/${hostId}`, {
      method: "DELETE",
      body: JSON.stringify({ fileName }),
    });
    if (res.status !== 200) {
      sessionStorage.setItem("fileList", JSON.stringify([]));
      window.location.reload();
      return;
    }
    sessionStorage.setItem("fileList", JSON.stringify(fileList));
    fileElement.classList.add("removing-file");
    setTimeout(() => {
      fileElement.remove();
    }, 500);
    enableButton();
  }
  async function uploadFile(file, url) {
    let hostId = localStorage.getItem("hostId");

    if (typeof hostId !== "string" || hostId instanceof String) {
      return;
    }

    if (!hostId) return;

    let formData = new FormData();
    formData.append("file", file);
    let xhr = new XMLHttpRequest();
    xhr.open("POST", `/api/upload/${hostId}`);
    xhr.upload.addEventListener("progress", (e) => {
      let progress = Math.round((e.loaded / e.total) * 100);
      let fileElement = document.getElementById(url);
      fileElement.querySelector("progress").value = progress;
      if (progress === 100) {
        fileElement.classList.remove("loading-file");
        fileElement
          .querySelector(`article[id='${url}'] .progress-container`)
          .remove();
      }
    });
    xhr.send(formData);
    xhr.addEventListener("load", function () {
      if (xhr.status !== 200) {
        removeFile(url);
        return alert(xhr.response);
      }
    });
  }
</script>
